---
---

@import "page";

@font-face {
  font-family: barlow-regular;
  src: url('fonts/barlow/Barlow-Regular.ttf')
}

body {
  font-family: barlow-regular;
}

main p {
  font-size: 20px;
}

aside {
  background-color: #1f305e;
}

a {
  color: crimson;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, .25);
}

.sidebar-logo {
  font-size: 32px;
}

.fa-link {
  font-size: 14px;
}
